section *{
    display: inline-block;
}
.registro{
    background-color: #f2f2f2;
    height: auto;
    padding: 12px 20px;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 3.2%;
}

.registro h3{
    display: block;
}

.registro .enviar{
    margin-top: 10%;
    margin-left: 18%;
}

.conectar{
    float: right;
    background-color: #f2f2f2;
    height: auto;
    padding: 12px 20px;
    margin-top: 5%;
    margin-right: 25%;
    margin-bottom: 3.2%;
}

.conectar .enviar{
    margin-top: 10%;
    margin-left: 30%;
}

@media only screen and (max-width: 800px) {
    .registro {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .registro label{
        margin-left: 0;
        margin-top: 1%;
    }
    .registro div{
        display: inline-block;
        vertical-align: top;
        width: 40%;
        margin-left: 5%;
        padding: 2%;
    }
    .registro #caja3{
        float: right;
        margin-right: 10%;
    }

    .conectar{
        width: 100%;
        margin-right: 0;
    }

    .conectar div{
        width: 40%;
        margin-left: 30%;
    }
}