/*Parte igual en todos las paginas*/

@media only screen and (min-width: 800px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{

    padding: 0;
    margin: 0;
    background-image:url("../imagenes/campo%20olivos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header *{
    display: inline-block;
    color: white;
}

header{
    height: auto;
    background-color: #7f2180;
}

.logo{
    position: absolute;
    width: 7%;
    height: auto;
    margin-left: 2%;
    margin-top: 1%;
}

.titulo{
    text-align: center;
    margin-left: 42%;
    text-transform: uppercase;

}

.redes{
    margin-top: 2%;
    margin-right: 2%;
    float: right;
}
.menu{
    background-color: #f2f2f2;
    padding: 0;
    width: 100%;
}

.menu ul{
    margin: 0 20% 0;
    overflow: hidden;
    list-style-type: none;
    padding: 0;

}

.menu ul li{
    list-style-type: none;
    float: left;

}

.menu ul li a{
    transition: 0.3s;
    display: block;
    text-align: center;
    padding: 14px 27px;
    color: #7f2180;
    text-decoration:none;
    text-transform: uppercase;
}

.menu li a:hover {
    background-color: #7f2180;
    color: white;
}

.nosotros {
    padding: 2%;
    position: relative;
    margin-left: 20%;
    text-align: center;
    margin-top: 2%;
    background-color: #f2f2f2;
    overflow: hidden;
}

.nosotros img{
    position: relative;
    margin-top: 2%;
    display: inline-block;
    vertical-align: top;
}

.nosotros #img1 {
    width: 25%;
    margin-right: 10%;
    height: auto;
}

.nosotros #img2{
    width: 25%;
    height: auto;
    margin-left: 10%;
}


@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
    }
    .titulo{
        margin-left: 25%;
    }
    .menu{
        margin-left: 0%;
    }
    .menu ul{
        margin: 0%;
    }
    .menu ul li{
        display: block;
        width: 100%;
    }
    .menu ul li a{
        width: 100%;
        padding: 14px ;
    }
    .nosotros {
        margin-left: 0%;
    }
}