.filtros{
    margin-top: 2%;
    position: absolute;
    background-color: #f2f2f2;
    width: 20%;
}

.filtros label {
    display: block;
    margin-top: 3%;
    padding: 4%;
}

.filtros h2,h3{
    width: 100%;
    background-color:#7f2180;
    color:white;
    text-align: center;
}

.filtros label:hover{
    background-color: #7f2180;
    color: white;
}

.producto {
    position: relative;
    display: inline-block;
    margin-left: 22%;
    background-color: #f2f2f2;
    margin-top: 2%;
}

.producto img{
    width: 100%;
    height: auto;
}

.producto p{
    width: 60%;
    display: inline-block;
}

.producto div p{
    float: left;
    margin-left: 2%;
}

.producto div i{
    float: right;
    margin-right: 2%;
}

.producto:hover{
    background-color: #982699;
    color: white;
    box-shadow: 0 8px 16px 0 black;
}

@media only screen and (max-width: 800px) {
    .producto {
        float: left;
        width: 40%;
        margin-left: 7%;
    }
    .filtros{
        visibility:hidden
    }
}