/*Parte igual en todos las paginas*/
body{
    padding: 0;
    margin: 0;
    background-image:url("imagenes/campo%20olivos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header *{
    display: inline-block;
}
header{
    max-width: 100%;
    height: auto;
}

.titulo{
    text-align: center;
    margin-left: 40%;
    text-transform: uppercase;

}
.redes{
    float: right;
    margin: 2%;
    width: 5%;
    
}

.redes #facebook{

}

.menu{
    width: 60%;
    margin-left: 17%;
    border: 1px solid #000000;
    background-color: #f2f2f2;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

ul li{
    list-style-type: none;
    margin: 1em;
    flex: 1;
}

ul li a{
    text-decoration:none;
    text-transform: uppercase;
    vertical-align: baseline;
}

ul li a:link {
    color:red;
}
li:hover{
    color: #1abc9c;
}

.articulo{
    padding: 2%;
    position: relative;
    max-width: 60%;
    margin-left: 15%;
    text-align: center;
    margin-top: 1%;
    background-color: #f2f2f2;
    border: 1px solid #000000;
    overflow: hidden;
}
.articulo img{
    position: relative;
    margin-top: 1%;
}
.articulo #img1{
    float: left;

}

.articulo #img2{
    float: right;
}