body{
    padding: 0;
    margin: 0;
    background-color: darkolivegreen;
}
header *{
    display: inline-block;
}
header{
    max-width: 100%;
    background-color: #f2f2f2;
    height: auto;
}

.titulo{
    text-align: center;
    margin-left: 40%;
    text-transform: uppercase;

}
.redes{
    float: right;
    margin: 2%;
    width: 5%;
    
}
.redes div{
    width: 50%;
    height: auto;
}

.redes #facebook{
    background-image: url("facebook.jpg");
}

.menu{
    width: 50%;
    display: block;
    overflow: hidden;
    margin-left: 22%;
    border: 1px solid #000000;
}

.menu li{
    list-style-type: none;
    float: left;
    border-radius: 1px;
    border-color: #f2f2f2;
    margin: .7em;
}

.menu li a{
    text-decoration:none;
    display: block;
    text-transform: uppercase;
}

.menu li a:link {
    color:red;
}